doctype html
html
	head
		meta(charset="utf-8")
		title htmlApp Home
		link(rel="stylesheet", type="text/css", href="css/bootstrap.min.css")
	body
		.container
			h1.
				welcome to HtmlApp !<br> you would do anything with htmlApp frameWork!
