doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel="stylesheet", type="text/css", href="css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="styleSheet/novel-theme.css")

  body
    .container
      p.
      !{novel_name}<br/>
      !{novel_id}
