doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel="stylesheet", type="text/css", href="css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="styleSheet/novel-theme.css")

  body
    .container
      p.
        !{novel_name}<br/>
      hr
      table.dir-table
        - var dataSet = dataArray
        - for (var i = 0, size = dataSet.length; i < size; i += 4){
          <tr>
          - for(var j = 0; j < 4; j++){
            - item = dataSet[i+j]
              <td>
              - if(item){
                <a href='!{item.href}'>!{item.text}</a>
              - }
              </td>
          - }
          </tr>
        - }
