doctype html
html(lang=en)
	head
		title=renderTestjade
		link(rel="stylesheet", href="css/bootstrap.css")
	body
		.container
			.row
				p.
					hello #{name}
					a beatuiful girl
				p hello world
				strong Jade Template
				a#linkBtn.btn.btn-primary(href="http://www.baidu.com") baidu
				button.btn.btn-primary bootstrap

				p <input type="text" placeholder="email" />
				p
					| wo caod
					| fadkf
					| alkdfjdkf
					| adkffgkd
					| adh
				p
					- let iterator = data
					- console.log(iterator)
					ul
						- for(let i = 0, size = iterator.length; i<size; i++){
							li #{iterator[i]}
						- }
